# Build artifacts (кроме libs/)
build/*
!build/libs/

# Source files
src/
*.java
*.kt
*.kts

# IDE
.idea/
*.iml

# Git
.git/
.gitignore

# Gradle
.gradle/
gradle/
gradlew*

# Tests
**/test/

# Docs
*.md
LICENSE
